.container{
    display:flex;
    text-align:center;
    margin:50px;
    background-color:#292D3E;
    padding:100px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.qr-code-container-download{
    opacity:100%;
    width:100%;
    transition: width .35s, opacity .35s ease-in-out;
}

.qr-code-container-empty{
    width:0%;
    opacity:0%;
    transition: width .1s, opacity .1s ease-in-out;
   
}

.link-container{
    background-color:white;
    padding:100px 150px;
    border-radius:10px;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.button,
.add-link-button{
    border:none;
    text-decoration: none;
    background:#4661d8;
    padding:20px;
    margin:10px;
    color: white;
    font-size:16px;
    border: transparent 3px solid;
    transform: translate(0px, 0px);
    transition: 0.1s;
}

.button:hover,
.add-link-button:hover{
    cursor: pointer;
    background:#91a0e7;
    border: #d38928 3px solid;
    transform: translate(0px, -2px);
    transition: 0.1s;
}

.input{
    height:50px;
    width:500px;
    font-size: 16px;
}

.add-link-button-container{
    display:flex;
    justify-content: center;
}

.add-link-button{
    width:30%;
}